<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ drinkerName }}</h1>
    <p class="drinker-details" *ngIf="drinkerDetails">
      Address: {{ drinkerDetails?.address }}, {{ drinkerDetails?.state }}
      <span *ngIf="drinkerDetails.address && drinkerDetails.state"></span>
        <br>
        Phone: {{ drinkerDetails?.phone }}
      </p>
  </div>
</div>

<p-table [value]="drinkerTransactions">
 <ng-template pTemplate="header">
   <tr>
     <th>Bar</th>
     <th>Time</th>
     <th>Item</th>
     <th>Type</th>
     <th>Quantity</th>
     <th>Total</th>
     <th>Tip</th>
   </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tran>
    <tr>
      <td>{{ tran.bar }}</td>
      <td>{{ tran.time }}</td>
      <td>{{ tran.item}}</td>
      <td>{{ tran.type }}</td>
      <td>{{ tran.quantity }}</td>
      <td>{{ tran.total }}</td>
      <td>{{ tran.tip }}</td>
    </tr>
  </ng-template>
</p-table>

<div class="container">
 <br>
 <div id="bargraph1"></div>
</div>

<div class="container">
 <br>
 <div id="bargraph2"></div>
</div>
