<!--Home Component-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3" align="center"> Bar Beer Drinker Project</h1>
    <div class="row align-items-center">

      <div class="col .mr-auto">
        <img src="/assets/img/angular_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>
      <div class="col .mr-auto">
        <img src="/assets/img/python_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>
      <div class="col .mr-auto">
        <img src="/assets/img/primeng_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>
      <div class="col .mr-auto">
        <img src="/assets/img/flask_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>

    </div>
    <div class="row align-items-center">

      <div class="col .mr-auto">
        <img src="/assets/img/node_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>
      <div class="col .mr-auto">
        <img src="/assets/img/aws_thumbnail.png" height="150" width="175" class="img-thumbnail" alt="Angular">
      </div>
      <div class="col .mr-auto">
        <img src="/assets/img/MySQL_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>
      <div class="col .mr-auto">
        <img src="/assets/img/heroku_thumbnail.png" height="150" width="150" class="img-thumbnail" alt="Angular">
      </div>
    </div>
  </div>
</div>
