
<!doctype html>
<html lang="en">
<head>
  <title>Bar Beer Drinker Guide</title>
</head>
<body>
<h1>Bar Beer Drinker Basic Run Down: Successes & Failures</h1>
<ol>
  <li>Bar Page</li>
  <ul>
    <li>Initially clicking on the bars tab on the nav bar will bring you to a page which shows all bars in the database.</li>
    <li>All the bars were created using a python script and some python modules used to generate fake but realistic data.</li>
    <li>Clicking on a bar's name will bring you to that specific bar's component page.</li>
    <li>Initially displayed will be that bar's specific details.</li>
    <li>Afterwards three charts will be displayed showing the top drinkers/spender, most popular beers, and the manufacturers who sell the most beer all for that specific bar.</li>
  </ul>
  <li>Beer Page</li>
  <ul>
    <li>Initially clicking on the beer tab on the nav bar will bring you to a page which shows all beers in the database.</li>
    <li>All the beers are real along with their manufacturers.</li>
    <li>Clicking on a beer's name will bring you to that specific beer's component page.</li>
    <li>Initially displayed will be that beer's specific details.</li>
    <li>Afterwards two charts will be displayed showing where the beer sells the most, and the biggest consumers of the beer.</li>
  </ul>
  <li>Drinker Page</li>
  <ul>
    <li>Initially clicking on the drinkers tab on the nav bar will bring you to a page which shows all drinkers in the database.</li>
    <li>All the drinkers were created using a python script and some python modules used to generate fake but realistic data similar to how the bars were generated.</li>
    <li>Clicking on a drinker's name will bring you to that specific drinker's component page.</li>
    <li>Initially displayed will be that drinker's specific details.</li>
    <li>Afterwards one table and two charts will be displayed showing all the transactions the drinker made, the distribution of beer bought, and the distribution of spending at various bars.</li>
  </ul>
  <li>Problems/Failures</li>
  <ul>
    <li>I did not incorporate a date feature in the database so I was not able to provide a time distribution.</li>
    <li>I did not build out a SQL Interface due to lack of time.</li>
    <li>I generate CSV files for all entities and entity relationships, and all were uploaded to the database except frequents because for some reason I was getting an "List index out of range" error.
    <br>Had I know this would of happened earlier on, I would of found a way to fix this bug, but I had already generated the data by then and if I altered the frequents table then the assertions on the data would be inaccurate</li>
  </ul>
  <li>Long-Term Plan</li>
  <ul>
    <li>I do plan on fixing these bugs and perfecting this project when I find more time.</li>
    <li>This entire project was built solely by one person: Chris Mathew.</li>
    <li>The link on the bottom of every page leads to my personal website which I use as a portfolio to my projects.  Needs to be updated!!</li>
  </ul>
</ol>

</body>
</html>
