<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="/assets/img/beer-32-270546.png" width="35" height="35" class="d-inline-block align-top" alt="Beer Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']"><a class="nav-item nav-link" [routerLink]="['guide']">Guide</a></li>
      <li [routerLinkActive]="['active']"><a class="nav-item nav-link" [routerLink]="['api/bar']" >Bars</a></li>
      <li [routerLinkActive]="['active']"><a class="nav-item nav-link" [routerLink]="['api/beer']">Beers</a></li>
      <li [routerLinkActive]="['active']"><a class="nav-item nav-link" [routerLink]="['api/drinker']">Drinkers</a></li>
      <li [routerLinkActive]="['active']" class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Extras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li [routerLinkActive]="['active']"><a class="dropdown-item" [routerLink]="['SQL-Interface']">SQL Interface</a>
            <li [routerLinkActive]="['active']"><a class="dropdown-item" [routerLink]="['Edits']">Modifications</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="mastfoot mt-auto" align="center">
  <div class="inner">
    <p>Created by <a href="http://cmathew.info/">Chris Mathew</a>.</p>
  </div>
</footer>
